body {
    background: #212443 url("/enrollment/img/Binary-Technology-Wallpaper-Blue-Background.jpg") no-repeat fixed;
    background-size: cover;
}
.header {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 800px;
    height: 100px;
    background: white;
}
.menu {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 800px;
    height: 30px;
    background: white;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
    background: white;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 800px;
    padding: 20px;
    background: white;
    text-align: center;
}
.loading {
    text-align: center;
}
